.iframe-container {
    height: 100%;
}

.hidden {
    display: none;
}
.pop-up-container {
    position: relative;
    height:150px;
    display:inline-block;
    width:50%;
}

.pop-up-container button.show-pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    margin-left: -140px;
    height: 80px;
    margin-top: -40px;
    border: 2px solid #0099a8;
    background: white;
    color: #0099a8;
    text-transform: uppercase;
    font-size: 22px;
}

.pop-up-container .pop-up {
    position: fixed;
    max-height: 80%;
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0 15px 20px 0;
    overflow: auto;
    z-index: 2;
    top:0;
    left:0;
}

iframe {
    border: none;
}
